.timeline{
    display:flex;
    justify-content:space-between;
    margin-top:30px;
}

.timeline-step{
    text-align:center;
    flex:1;
    position:relative;
}

.circle{
    width:22px;
    height:22px;
    border-radius:50%;
    background:#334155;
    margin:auto;
    margin-bottom:10px;
}

.circle.active{
    background:#00e0ff;
    box-shadow:0 0 15px #00e0ff;
}

.timeline-step p{
    font-size:13px;
    color:#cbd5e1;
}